# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Python app to Azure Web App - majgg-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          version: "latest"

      - name: Set up Python 3.10
        run: uv python install 3.10

      - name: Install dependencies
        run: |
          uv sync --frozen
          # This creates the .venv using your uv.lock file
          # We rename it to 'antenv' for Azure compatibility if needed
          cp -r .venv antenv 

      - name: Zip artifact for deployment
        run: |
          zip -r release.zip . -x ".git/*" ".github/*"
        # We zip the code AND the antenv folder we just built

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'majgg-api'
          slot-name: 'production'
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_312ea528a23b4e48859f8c3e12db6702 }}
          package: release.zip
